.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rproj
lda_ver1.RData
gamenames.RData
text.txt
lda_ver2.RData
dictionary/*.txt
LDAvis-gossip-version
stars+description.R
pictures
cloud1.jpg
cloud2.png
*.png
*.jpeg
*.pdf
*.pptx
*.ttf
*.ttc
*.rar
*.html
*.json
